<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="left-menu">
    <div class="sidebar">
        <div class="sidebar-header">
            <h4><i class="fas fa-user-shield me-2"></i>Admin Panel</h4>
        </div>
        <ul class="sidebar-menu">
            <li><a th:href="@{/admin}" class="" th:classappend="${loc == 'dashboard'} ? 'active'"><i class="fas fa-screwdriver-wrench"></i> Dashboard</a></li>
            <li><a th:href="@{/admin/user}" class="" th:classappend="${loc == 'user'} ? 'active'"><i class="fas fa-user"></i> Users</a></li>
            <li><a th:href="@{/admin/settings}" class="" th:classappend="${loc == 'settings'} ? 'active'"><i class="fas fa-cog"></i> Settings</a></li>
            <li><a th:href="@{/admin/statistics}" class="" th:classappend="${loc == 'statistics'} ? 'active'"><i class="fas fa-chart-bar"></i> Statistic</a></li>
            <li><a th:href="@{/admin/logs}" class="" th:classappend="${loc == 'logs'} ? 'active'"><i class="fas fa-history"></i> Logs</a></li>
        </ul>
    </div>
</div>
</body>
</html>