<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="table" class="main-content event-form" th:data-name="${loc}" data-form-type="event-form">
    <h1 class="mb-4 text-center main-title">Articles</h1>
    <div class=".d-flex flex-column">
        <div th:replace="~{fragments/events-form :: form}"></div>
    <div class="table-responsive">
        <table th:id="${loc + 'Table'}" class="table table-custom table-hover">
            <thead>
            <tr>
                <th>#</th>
                <th style="display: none">Id</th>
                <th>Title</th>
                <th>Subtitle</th>
                <th>Description</th>
                <th>Date</th>
            </tr>
            </thead>
            <tbody class="skeleton-body"></tbody>
        </table>
    </div>
    <div style="display: none" class="mt-5">
        <h3 class="mb-3">Something title</h3>
        <ul class="list-group">
            <li class="list-group-item d-flex align-items-center">
                <i class="fas fa-calendar-check me-3" style="color: var(--primary-color);"></i>
                <span>something text 1</span>
            </li>
            <li class="list-group-item d-flex align-items-center">
                <i class="fas fa-flag-checkered me-3" style="color: var(--primary-color);"></i>
                <span>something text 2</span>
            </li>
        </ul>
    </div>
        </div>
</div>
</body>
</html>