<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="event-table" class="main-content event-form" th:data-name="${loc}" data-form-type="event-form">
    <h1 class="mb-4 text-center main-title">Events</h1>
    <div class=".d-flex flex-column">
        <div th:replace="~{fragments/event-form :: form}"></div>
        <div class="table-responsive">
            <table th:id="${loc + 'Table'}" class="table table-custom table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Date</th>
                    <th>Server</th>
                    <th>Type</th>
                </tr>
                </thead>
                <tbody class="skeleton-body"></tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>