<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="table" class="main-content event-form" th:data-name="${loc}" data-form-type="event-form">
    <h1 class="mb-4 text-center main-title">Fortress</h1>
    <div class=".d-flex flex-column">
        <div th:replace="~{fragments/events-form :: form}"></div>
        <div class="table-responsive">
            <table th:id="${loc + 'Table'}" class="table table-custom table-hover">
                <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Server</th>
                    <th>Skills</th>
                    <th>Updated</th>
                    <th>Controlled by:</th>
                    <th>Coffer</th>
                    <th>Hold time</th>
                </tr>
                </thead>
                <tbody class="skeleton-body"></tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>