<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <th:block th:insert="~{fragments/head :: head}"></th:block>
        <title>AsParser - Access-denied</title>
    </head>
    <body>
        <div class="error-container">
            <div class="error-icon">
                <i class="fas fa-ban"></i>
            </div>
            <h1 class="error-title">403 - Access Denied</h1>
            <p class="error-description">
                You don't have permission to access this resource. Please contact
                support if this wasn't supposed to happen.
            </p>
            <a href="/" class="btn btn-home">
                <i class="fas fa-home me-2"></i>Return to Homepage
            </a>
        </div>
    </body>
</html>