<header class="bg-dark text-white py-3">
  <div class="container d-flex justify-content-between align-items-center">
    <img src="" alt="" class="logo">
    <h1 class="h3">AsteriosParser</h1>
    <div class="d-flex justify-content-between align-items-right">
      <button id="loginButton" class="btn btn-success">Login</button>
      <p th:text="user name"></p>
      <form action="#">
        <button type="submit" value="logout" class="btn btn-success">Logout</button>
      </form>
    </div>
  </div>
</header>
